* {
  --mandarina-color: hsl(0, 94%, 66%);
  --soft-blue-color:hsl(231, 69%, 60%);
  --grey: hsl(229, 8%, 60%);
  --blue: 229, 31%, 21%;
  --succest-color: rgb(45, 192, 45);
  --padding-desktop: 8rem;
}

body {
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}